header {
  height: 700px;
  background: url(../img/sky.jpg);
  background-size: cover; }

body {
  margin: 0px; }

.main-buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 700px;
  max-width: 1360px; }
  .main-buttons div {
    color: #38386c;
    text-transform: uppercase;
    text-align: center; }
  .main-buttons .logo-places {
    height: 380px;
    width: 335px; }
    .main-buttons .logo-places svg {
      height: 330px;
      width: 330px; }
  .main-buttons [class^="comp-"] {
    height: 155px;
    width: 155px; }
    .main-buttons [class^="comp-"] svg {
      height: 102px;
      width: 102px; }
    .main-buttons [class^="comp-"].comp-success {
      order: 5; }

#B1 {
  border-radius: 25px;
  background-color: #7cc576;
  position: fixed;
  left: -37px;
  top: -15px;
  padding-left: 28px;
  padding-top: 50px;
  width: 394px;
  height: 80px;
  text-indent: 50px;
  color: #ddeac9;
  margin: 0 auto;
  z-index: 1; }

@media screen and (max-width: 500px) {
  .main-buttons {
    margin-top: 130px;
    display: inline-block;
    text-align: center; }
    .main-buttons div {
      display: inline-block; }

  header {
    height: 1000px; } }
.section {
  height: 1410px;
  background: url(../img/green-background.png);
  background-size: cover; }
  .section .set {
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section .set p {
      color: white;
      padding: 10px; }
    .section .set .paragraph-vics {
      order: 1; }
    .section .set .image-vics {
      order: 2; }

h3 {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 100px; }

span div {
  height: 12px;
  width: auto;
  background-color: #997047; }

img {
  border-radius: 50%;
  padding: 10px; }

@media screen and (max-width: 500px) {
  .section {
    height: 2300px;
    background: none;
    background-color: #b5cd93; }
    .section .set {
      display: block;
      text-align: center; } }
footer {
  height: 283px;
  background: url(../img/footer.png);
  background-size: cover; }
  footer .foot h2 {
    margin-top: 127px;
    margin-left: 20px;
    float: left; }

.main-buttons div, #B1, .section .set p, h3, footer .foot h2 {
  font-family: Tahoma;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 24px; }
